{% extends "layout.twig" %}

{% block content %}
<section class="contact">
	<div class="container">
    	<div class="contact-sec">
        	<h1 class="contact-heading text-center">{{ 'login.title.content'|trans }}</h1>
            <div class="row">            
                <div class="col-md-6 col-sm-10 col-md-offset-3">
                    <div class="contact-area">
                        <div class="row">
                            <form class="form-contact" method="post">
				<input type="hidden" name="nonce" value="{{ nonce }}" />
				{% if login_error is not empty %}
			    <div class="form-group">
				<div class="col-md-12">
				    <div class="alert alert-danger" role="alert">{{ login_error }}</div>
				</div>
			    </div>
	            {% endif %}
                            <div class="col-md-6 col-sm-6">
                                <label for="basic-url">{{ 'login.label.login'|trans }}</label>
                                <div class="input-group col-md-12">                              
                                  <input
	                            class="form-control"
	                            name="username"
	                            type="text"
	                            required
	                            placeholder="{{ 'login.label.login'|trans }}"/>                            	
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label for="basic-url">{{ 'login.label.password'|trans }}</label>
                                <div class="input-group col-md-12">                              
                                  <input
	                            class="form-control"
	                            name="password"
	                            type="password"
	                            required
	                            placeholder="{{ 'login.label.password'|trans }}"/>
                                </div>
                            </div>
                            <div class="col-md-12">
							<label for="remember">
			                    <input type="checkbox" name="remember" id="remember" value="yes" /> {{ 'login.label.remember'|trans }}
							</label>
		                <br />
			    <a href="{{ login_link }}">{{ 'form.btn.password_reset'|trans }}</a></div> 
                            <div class="col-md-12 col-sm-12">
				  <button type="submit" class="btn btn-contact">{{ 'form.btn.validate'|trans }}</button>
                            </div>
                            </div>
                            </form>
                        </div>                        
                    </div>                    
                </div>
           	</div>
        </div>
    </div>
</section> 
{% endblock content %}

{% block javascript %}
    {#{{ parent() }}#}
    {#<script type="text/javascript">#}
        {#$(document).on('submit','.form-contact',function(event){#}
            {#event.preventDefault();#}
            {#$('.alert-danger').css('display','block');#}
        {#});#}
    {#</script>#}
{% endblock javascript %}
