{% extends "layout.twig" %}

{% block content %}
<section class="payment">
	<div class="container">
    	<div class="payment-sec">
        	<div class="row">
            	<div class="col-md-10 col-md-offset-1">
                	<div class="row">
                    	<div class="col-md-3">
						  <div class="border-doted top-arrow">
								<div class="active payment-round">
									<i class="fa fa-thumbs-up"></i>
									<p>{{ 'payment_step.inscription'|trans }}</p>
								</div>
							</div>
                        </div>
                        <div class="col-md-3">
						    <div class="border-doted bottom-arrow">
								<div class="payment-round">
									<i class="fa fa-recycle"></i>
									<p>{{ 'payment_step.recap'|trans }}</p>
								</div>
							</div>
                        </div>
                        <div class="col-md-3 border">
						    <div class="border-doted top-arrow">
								<div class="payment-round">
									<i class="fa fa-credit-card"></i>
									<p>{{ 'payment_step.payment'|trans }}</p>
								</div>
							</div>
                        </div>
                        <div class="col-md-3 border">
						    <div class="border-doted">
								<div class="payment-round">
									<i class="fa fa-check"></i>
									<p>{{ 'payment_step.confirmation'|trans }}</p>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="information">
	<div class="container">
    	<div class="information-sec">
        	<div class="information-header">{{ 'registration.title.content'|trans }}</div>
            	<div class="row">
                	 <form id="registrationForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-danger" role="alert" style="display:none;"><b>{{ 'registration.error.content'|trans }}</div>
                            </div>
                        </div>
                            <div class="col-md-6 col-sm-6">
                                <label for="basic-url">{{ 'form.label.surname'|trans }}</label>
                                <div class="input-group col-md-12">                              
                                  <input class="form-control" id="registration_firstname" name="lastname" type="text" required placeholder="{{ 'form.label.surname'|trans }}">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label for="basic-url">{{ 'form.label.firstname'|trans }}</label>
                                <div class="input-group col-md-12">                              
                            	<input class="form-control" id="registration_lastname" name="firstname" type="text" required placeholder="{{ 'form.label.firstname'|trans }}">
                        	</div>
                    	  </div>
                          <div class="col-md-6 col-sm-6">
                                <label for="basic-url">{{ 'form.extra.city'|trans }}</label>
                                <div class="input-group col-md-12">                              
                            	<input class="form-control" id="registration_city" name="city" type="text" required placeholder="{{ 'form.extra.city'|trans }}">
                        	</div>
                    	  </div>
                          <div class="col-md-6 col-sm-6">
                                <label for="basic-url">{{ 'form.extra.postcode'|trans }}</label>
                                <div class="input-group col-md-12">                              
                            	<input class="form-control" id="registration_postcode" name="postcode" type="text" required placeholder="{{ 'form.extra.postcode'|trans }}">
                        	</div>
                    	  </div>
                          <div class="col-md-6 col-sm-6">
                                <label for="basic-url">{{ 'form.extra.phone'|trans }}</label>
                                <div class="input-group col-md-12">                              
                            	<input class="form-control" id="registration_phone" name="phone" type="text" required placeholder="{{ 'form.extra.phone'|trans }}">
                        	</div>
                    	  </div>
                          <div class="col-md-6 col-sm-6">
                                <label for="basic-url">{{ 'form.extra.nationality'|trans }}</label>
                                <div class="input-group col-md-12">                              
                            	<input class="form-control" id="registration_nationality" name="natioality" type="text" required placeholder="{{ 'form.extra.nationality'|trans }}">
                        	</div>
                    	  </div>
                 	
                </div>
                <div class="information-header">Your personal information</div>
            	<div class="row">
                	
                            <div class="col-md-6 col-sm-6">
                                <label for="basic-url">{{ 'form.label.email'|trans }}</label>
                                <div class="input-group col-md-12">                              
                                   <input class="form-control" id="registration_email" name="email" type="email" required placeholder="{{ 'form.label.email'|trans }}">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label for="basic-url">{{ 'form.extra.email_confirmation'|trans }}</label>
                                <div class="input-group col-md-12">                              
                            	<input class="form-control" id="registration_email_confirmation" name="email_confirmation" type="email" required placeholder="{{ 'form.extra.email_confirmation'|trans }}">
                        	</div>
                    	  </div>
                          <div class="col-md-6 col-sm-6">
                                <label for="basic-url">{{ 'form.label.password'|trans }}</label>
                                <div class="input-group col-md-12">                              
                            	<input class="form-control" id="registration_pwd" name="password1" type="password" required placeholder="{{ 'form.label.password'|trans }}">
                        	</div>
                    	  </div>
                          <div class="col-md-6 col-sm-6">
                                <label for="basic-url">{{ 'form.label.pwd_confirmation'|trans }}</label>
                                <div class="input-group col-md-12">                              
                            	<input class="form-control" id="confirmation_pwd" name="password2" type="password" required placeholder="{{ 'form.label.pwd_confirmation'|trans }}">
                        	</div>
                    	  </div>
                          <div class="col-md-12">
						  <button type="submit" class="btn btn-contact">{{ 'form.btn.validate'|trans }}</button>
                          </div>                          
                 	
                </div>
				</form>
        </div>
    </div>
</section>

{% endblock content %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        var ajax_url     = "{{ function('admin_url','admin-ajax.php') }}";
        var recap_page   = "{{ function('home_url','recap') }}";
    </script>
{% endblock javascript %}
