{% extends "layout.twig" %}

{% block content %}
<section class="tariffs">
	<div class="container">
    	<div class="tariffs-sec">
        	<div class="row">
		{% if function('get_content_tree','plan_radio') == 'false'  %}
                {% for i in 1..4 %}
            	<div class="col-md-3 col-sm-3">
                	<div class="smart-tariffs">
                    	<div class="tariffs-title">{{ function('get_content_tree','plan' ~ i ~ '_content_title') }}</div>
                        <div class="round">
                        	<div class="creadit">{{ function('get_content_tree','plan' ~ i ~ '_content_price_text') }}</div>
				<div class="creadit">{{ function('get_content_tree','plan' ~ i ~ '_content_price_subtext') }}</div>
                            <div class="equal">{{ function('get_content_tree','plan' ~ i ~ '_content_text') }}</div>
                            <div class="euro">{{ function('get_content_tree','plan' ~ i ~ '_price_for_vad')}}</div>
                        </div>
                      <button type="button" class="btn creadit-btn">{{ function('get_content_tree','plan' ~ i ~ '_content_btn') }}</button>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                {% for i in 1..3 %} 
		<div class="col-md-4 col-sm-4">
                	<div class="smart-tariffs">
                    	<div class="tariffs-title">{{ function('get_content_tree','plan' ~ i ~ '_content_title') }}</div>
                        <div class="round">
                        	<div class="creadit">{{ function('get_content_tree','plan' ~ i ~ '_content_price_text') }}</div>
				<div class="creadit">{{ function('get_content_tree','plan' ~ i ~ '_content_price_subtext') }}</div>
                            <div class="equal">{{ function('get_content_tree','plan' ~ i ~ '_content_text') }}</div>
                            <div class="euro">{{ function('get_content_tree','plan' ~ i ~ '_price_for_vad')}}</div>
                        </div>
                      <button type="button" class="btn creadit-btn">{{ function('get_content_tree','plan' ~ i ~ '_content_btn') }}</button>
                    </div>
                </div>
		{% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        var ajax_url      = "{{ function('admin_url','admin-ajax.php') }}";
        var register_page = "{{ function('home_url','registration') }}";
    </script>
{% endblock javascript %}
