<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>  
    <meta charset="{{ site.charset }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ site.theme.uri }}/assets/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.theme.uri }}/assets/main.css">
    <script src="https://code.jquery.com/jquery-git2.min.js"></script>
    <title>
        {% if wp_title %}
            {{ wp_title }} - {{ site.name }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>
    {{ wp_head }}
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container-fludic">
    {% block header %}
        {% include 'header.twig' %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
        {% include 'footer.twig' %}
    {% endblock footer %}
</div>
{{ wp_footer }}
{% block javascript %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ site.theme.uri }}/js/v8-promise.js"></script>
    <script>
        var z = {
            home              : '{{ function( 'home_url', '/' ) }}',
            ajax_url          : '{{ function( 'admin_url','admin-ajax.php' ) }}',
            register_page     : '{{ function( 'home_url','registration' ) }}',
            download_page     : '{{ function( 'home_url','dashboard/download' ) }}',
            nonce             : '{{ function( 'wp_create_nonce', 'do_ajax_call' ) }}',
        };
    </script>
    <script src="{{ site.theme.uri }}/js/scripts.js"></script>
{% endblock javascript %}
</body>
</html>