{% extends "layout.twig" %}

{% block content %}
<div class="container">
    <div class="row content--landing-white">
        <div class="col-md-12">
            <h1 class="text-center title--default">{{ 'password_reset.title.set'|trans }}</h1>
        </div>
        <div class="col-md-offset-3 col-md-6">
            <form class="form-contact" method="post">
                <input type="hidden" name="nonce" value="{{ nonce }}" />
                {% if validation is not empty %}
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert">{{ validation }}</div>
                    </div>
                </div>
                {% endif %}
                <div class="row form-group">
                    <div class="col-md-12">
                        <input class="form-control"
                            type="password"
                            name="password1"
                            required
                            placeholder="{{ 'password_reset.placeholder.password'|trans }}"
                        />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <input
                            class="form-control"
                            type="password"
                            name="password2"
                            required
                            placeholder="{{ 'password_reset.placeholder.validate'|trans }}"
                        />
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn__form">{{ 'password_reset.btn.set'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
{% endblock javascript %}