{% extends "layout.twig" %}

{% block content %}
<div class="container-fludic ptrn">
    <div class="container">
        <div class="row content--landing-white">
            <div class="page-header">
                <h1 class="text-center title--default">{{ 'password_reset.title.content'|trans }}</h1>
            </div>
            <div class="col-md-offset-3 col-md-6">
                <form class="form-contact" method="post">
                    <input type="hidden" name="nonce" value="{{ nonce }}" />
                    {% if validation is not empty %}
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="alert alert-danger" role="alert">{{ validation }}</div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input class="form-control" type="text" name="user_login" required placeholder="{{ 'password_reset.placeholder.username'|trans }}">
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-danger">{{ 'password_reset.btn.reset'|trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
    {#{{ parent() }}#}
    {#<script type="text/javascript">#}
        {#$ ( document ).on (#}
            {#'submit',#}
            {#'.form-contact',#}
            {#function ( event ) {#}
                {#event.preventDefault ();#}
                {#$ ( '.alert-danger' ).css ( 'display', 'block' );#}
            {#}#}
        {#);#}
    {#</script>#}
{% endblock javascript %}